# === FRONTEND ===
/frontend/node_modules/
frontend/dist/
frontend/.env

# === BACKEND ===
/backend/__pycache__/
/backend/venv/
/backend/.env
/backend/.env.*

# Common
*.log
*.sqlite3
*.db
*.pyc
.DS_Store
.vscode/
.idea/
.env
.env.*

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
